extends layout
append scripts
  script(src='/ckeditor/ckeditor.js')
  script(src='/ckeditor/adapters/jquery.js')
  script
    $(function() {
      $('.editor').ckeditor();
    });
block content
  .row
    .span12
      form(method='post')
        fieldset
          legend 编辑文章
          p
            input.span12(type="text", name='title')
          p
            textarea.span12.editor(name='content')
          p
            input.btn.pull-right(type='submit', value='提交')
