extends layout
append scripts
  script(src='/ckeditor/ckeditor.js')
  script(src='/ckeditor/adapters/jquery.js')
  script
    $(function() {
      $('.editor').ckeditor();
    });
block content
  .row
    .span12
      form(method='post', action='/admin/news/save')
        fieldset
          legend 编辑文章
          input(type='hidden', name='id', value=news.id)
          p
            input.span12(type="text", name='title', value=news.title)
          p
            textarea.span12.editor(name='content') !{news.content}
          p.pull-right
            input.btn(type='submit', value='提交', style='margin-right: 4px')
            a.btn(href='/admin') 放弃
