mixin slider(prefix)
  - var slider = 'div id="' + prefix + 'Slider' +'"'
  - var sliderContent = 'ul id="' + prefix + 'SliderContent' + '"'
  - var sliderImage = 'li class="' + prefix + 'SliderImage' + '"'
  #{slider}
    #{sliderContent}
      #{sliderImage}
        a(href='#')
          img(src='/images/headerSlider/1.jpg')
          span.bottom
            strong Some title
            p Some content
      li.headerSliderImage
        a(href='#')
          img(src='/images/headerSlider/2.jpg')
          span.bottom
            strong Some title
            p Some content
      li.headerSliderImage
        a(href='#')
          img(src='/images/headerSlider/3.jpg')
          span.bottom
            strong Some title
            p Some content
      li.headerSliderImage
        a(href='#')
          img(src='/images/headerSlider/4.jpg')
          span.bottom
            strong Some title
            p Some content
      li.headerSliderImage
        a(href='#')
          img(src='/images/headerSlider/5.jpg')
          span.bottom
            strong Some title
            p Some content
