extends layout

append scripts
  script(src='/javascripts/s3Slider.js')
  script
    $(function(){
      $('#headerSlider').s3Slider({timeOut:3000});
    });

block content
  .row
    .span6
      include includes/headerSlider
      mixin slider('header')
