extends layout

append scripts
  script(src='/javascripts/s3Slider.js')
  script
    $(function(){
      $('#headerSlider').s3Slider({timeOut:3000});
    });

block content
  .row
    .span6
      include includes/headerSlider
      mixin slider('header', pics)
    .span3.well
      h1.title 政策新闻
      each news in newses
        p: a(href=news.link)=news.title
    .span3.well
      h1.title 馨宁简介
      p.intro= intro
      a.pull-right More...

