@radius                        : 7px;
@headerWidth                   : 410px;
@bodyWidth                     : 720px;
@headerHeight                  : 300px;
@bodyHeight                    : 300px;

body {
  padding                      : 50px;
  padding-top                  : 0;
  font                         : 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color                        : #00B7FF;
}

.opacity(@opacity) {
    -moz-opacity               : @opacity;
	-khtml-opacity             : @opacity;
    opacity                    : @opacity;
}

.slider(@w, @h) {
    width                      : @w; /* important to be same as image width */
    height                     : @h; /* important to be same as image height */
    position                   : relative; /* important */
	overflow                   : hidden; /* important */
}

.sliderContent(@w) {
    width                      : @w; /* important to be same as image width or wider */
    position                   : absolute;
	top                        : 0;
	margin-left                : 0;
    img {
        border-radius          : @radius;
    }
}

.sliderImage(@w) {
    float                      : left;
    position                   : relative;
	display                    : none;
    span {
        position               : absolute;
        font                   : 10px/15px Arial, Helvetica, sans-serif;
        padding                : 10px 13px;
        width                  : @w - 26;
        background-color       : #000;
        .opacity(0.7);
        color                  : #fff;
        display                : none;
        strong {
            font-size          : 14px;
        }
    }
}


.clear {
	clear                      : both;
}

.top {
	top                        : 0;
	left                       : 0;
    border-top-left-radius     : @radius;
    border-top-right-radius    : @radius;
}
.bottom {
	bottom                     : 0;
    left                       : 0;
    border-bottom-left-radius  : @radius;
    border-bottom-right-radius : @radius;
}
.left {
	top                        : 0;
    left                       : 0;
	width                      : 110px !important;
	height                     : 280px;
    border-top-left-radius     : @radius;
    border-bottom-left-radius  : @radius;
}
.right {
	right                      : 0;
	bottom                     : 0;
	width                      : 90px !important;
	height                     : 290px;
    border-top-right-radius    : @radius;
    border-bottom-right-radius : @radius;
}
ul { list-style-type           : none;}

#headerSlider {
    .slider(@headerWidth, @headerHeight);
}

#bodySlider {
    .slider(@bodyWidth, @bodyHeight);
}


#headerSliderContent {
    .sliderContent(@headerWidth);
}

#bodySliderContent {
    .sliderContent(@bodyWidth);
}


.headerSliderImage {
    .sliderImage(@headerWidth);
}

.bodySliderImage {
    .sliderImage(@bodyWidth);
}

